#gameboard {         
    width: 320px;
    height: 320px;   
    display: flex;   
    flex-wrap: wrap; 
}

.square {            
    height: 40px;
    width: 40px;     
}

.square svg {        
    height: 30px; 
    width: 30px;
    margin: 5px;     
}

.piece {
    position: relative; /* z-index property only works on positioned elements */
    z-index: 9;         /* high z-index brings element to front */
}

.beige {
    background-color: beige;
}

.brown {
    background-color: brown;
}

.black {
    fill: black;  
}

.white {
    fill: white;
}
